<%= render 'prs/shared/notice_tab' %>

<% content_for(:side_bar) do %>
    <%= render 'shared/navbar', :current => "prs" %>
<% end %>
    <% content_for(:footer) do %>
    <%= render 'shared/footer' %>
<% end %>

<div class="container pr-index-container">
    <ul class="text-center">
        <li><a class="col-sm-12">공지사항</a></li>
    </ul>
    <table class="table">
        <colgroup>
            <col style="width:115px;" />
            <col style="width:380px;" />
            <col style="width:115px;" />
            <col style="width:115px;" />
        </colgroup>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>날짜</th>
                <th>조회 수</th>
            </tr>
        </thead>
        <tbody>
        <% @prs.each do |pr| %>
            <tr>
                <td><%= pr.id %></td>
                <td><%= link_to pr.title, pr, class: 'pr_title' %></td>
                <td><%= pr.date %></td>
                <td><%= "#{pr.impressionist_count}" %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="prs-pagination text-center">
        <%= paginate @prs %>
    </div>
</div>